In [1]:
import pandas as pd
import numpy as np
import itertools
import os
from scipy.io import wavfile
import librosa
import librosa.display

import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
vote_df = pd.read_csv(".\Data\processedResults\summaryTable.csv", index_col = 0)
demo_df = pd.read_csv(".\Data\VideoDemographics.csv")

In [18]:
vote_df.head(10)

,FileName,VoiceVote,VoiceLevel,FaceVote,FaceLevel,MultiModalVote,MultiModalLevel
1,1001_IEO_NEU_XX,N,69.1,N,92.22,N,64.78
2,1001_IEO_HAP_LO,N,71.67,H,57,H,57.38
3,1001_IEO_HAP_MD,N,67.71,H,62.62,H,56.56
4,1001_IEO_HAP_HI,H,63.5,H,68.25,H,73.2
5,1001_IEO_SAD_LO,N,73.71,N,73.5,N,74.8
6,1001_IEO_SAD_MD,N,42.12,N,82.44,N,72.33
7,1001_IEO_SAD_HI,N,60.14,A:F,30.67:51.00,N,63.5
8,1001_IEO_ANG_LO,N,59.57,D,52.6,N,78
9,1001_IEO_ANG_MD,A:D,37.2:58.6,A,45.5,A,44.2
10,1001_IEO_ANG_HI,D,67,A,65.56,A,63.25

In [19]:
vote_df['VoiceVote'].str.split(':',expand=True)[:10]

    0     1     2     3     4
1   N  None  None  None  None
2   N  None  None  None  None
3   N  None  None  None  None
4   H  None  None  None  None
5   N  None  None  None  None
6   N  None  None  None  None
7   N  None  None  None  None
8   N  None  None  None  None
9   A     D  None  None  None
10  D  None  None  None  None

In [4]:
demo_df.head()

   ActorID  Age     Sex              Race     Ethnicity
0     1001   51    Male         Caucasian  Not Hispanic
1     1002   21  Female         Caucasian  Not Hispanic
2     1003   21  Female         Caucasian  Not Hispanic
3     1004   42  Female         Caucasian  Not Hispanic
4     1005   29    Male  African American  Not Hispanic

In [5]:
Crema = "./Data/AudioWAV/"

In [7]:
crema_directory_list = os.listdir(Crema)

file_emotion = []
file_path = []
actor_id = []

for file in crema_directory_list:
    # storing file paths
    file_path.append(Crema + file)
    # storing file emotions
    part=file.split('_')
    file_emotion.append(part[2])
    actor_id.append(int(part[0][-4:]))

#Construct Dataframe
emotion_df = pd.DataFrame(file_emotion, columns=['IntendedEmotion'])
path_df = pd.DataFrame(file_path, columns=['Path'])
actor_df = pd.DataFrame(actor_id, columns = ["ActorID"])
temp_df = pd.concat([actor_df,emotion_df, path_df], axis=1)

crema_df = temp_df.merge(demo_df, on = "ActorID")
crema_df.head()

,ActorID,IntendedEmotion,Path,Age,Sex,Race,Ethnicity
0,1001,ANG,./Data/AudioWAV/1001_DFA_ANG_XX.wav,51,Male,Caucasian,Not Hispanic
1,1001,DIS,./Data/AudioWAV/1001_DFA_DIS_XX.wav,51,Male,Caucasian,Not Hispanic
2,1001,FEA,./Data/AudioWAV/1001_DFA_FEA_XX.wav,51,Male,Caucasian,Not Hispanic
3,1001,HAP,./Data/AudioWAV/1001_DFA_HAP_XX.wav,51,Male,Caucasian,Not Hispanic
4,1001,NEU,./Data/AudioWAV/1001_DFA_NEU_XX.wav,51,Male,Caucasian,Not Hispanic